<aside>
  <img [src]="logoImage" />
  <h1>{{ title }}</h1>
  <form id="form-notes" [formGroup]="checkoutForm" (submit)="sendNote()">
    <div class="input-group">
      <div class="labels">
        <label>Nota:</label>
        <label class="urgent">
          <input type="checkbox" formControlName="noteUrgent" />
          Urgente
        </label>
      </div>
      <textarea type="text" id="text" formControlName="noteText" required placeholder="Digite a nota"></textarea>
      <div *ngIf="noteText?.touched">
        <div class="errors" *ngIf="noteText?.errors?.['required']">Este campo é obrigatório</div>
        <div class="errors" *ngIf="noteText?.errors?.['minlength']">Precisa ter no mínimo 5 caracteres</div>
      </div>
    </div>
    <button [disabled]="!checkoutForm?.valid">{{ noteId?.value ? "Atualizar" : "Salvar" }}</button>
  </form>
</aside>
